@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
  /* themes: light --default, dark --prefersdark, cupcake; */
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-secondary: #F9A51A;
  --color-accent: #C5C5C5;
  --color-base-200: ##273c75;

}
*{
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  box-shadow: none;
}
h1, h2, h3,h4{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* slider  */


